<section class="photo-header">
	<div class="row">
		<h1 class="name-site">
			crofis.com
		</h1>
		<p class="summary-site">
			Tecnologia para o futebol <br />
		</p>
		<nav class="menu-site">
			<div class="row">
				<div class="menu small-centered large-centered columns">
					<ul class="inline-list">
						<li class="small-centered large-centered columns"><%= link_to "Contact", controller: "contacts" %></li>
					</ul>
				</div>
				
			</div>
		</nav>
	</div>
</section>